.h5p-textarea-pj {
  font-size: 16px;
  line-height: 1.5em;
  font-family: Sans-Serif;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.h5p-textarea-pj .marker {
  color: black;
}

.h5p-textarea-pj h1,
.h5p-textarea-pj h2,
.h5p-textarea-pj h3{
  line-height: initial;
}

.h5p-textarea-pj table,
.h5p-textarea-pj td {
  background: #ebebeb54;
}

.h5p-textarea-pj td {
  vertical-align: top;
}

/* See https://www.w3docs.com/snippets/css/how-to-change-the-style-of-the-title-attribute-inside-an-anchor-tag.html# */
/* Modified to accept the var styling of the tooltip */
.h5p-textarea-pj a.tooltip {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.h5p-textarea-pj a.tooltip:hover {
  cursor: help;
  position: relative;
}
.h5p-textarea-pj a.tooltip span,
.h5p-textarea-pj a.tooltip var {
  display: none;
}
.h5p-textarea-pj a.tooltip:hover span,
.h5p-textarea-pj a.tooltip:hover var {
  border: #666 2px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: #e3e3e3;
  left: 0px;
  margin: 15px;
  width: max-content;
  position: absolute;
  top: 15px;
  text-decoration: none;
  width: max-content;
  min-width: 50px;
  max-width: 400px;
  color: initial;
}